:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.header{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  a{
    font-size: 1.4rem;
  }
}


/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top of everything */
}

/* Modal Container */
.modal {
  // background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  max-width: 80%; /* Adjust the width as needed */
  padding: 20px;
  z-index: 1001; /* Ensure the modal is above the overlay */
}

/* Modal Content */
.modal-content {
  /* Add your custom styles for the modal content here */
}

/* Close Button */
.modal button {
  background-color: #007bff; /* Blue color, you can change it */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Close Button Hover Effect */
.modal button:hover {
  background-color: #0056b3; /* Darker shade of blue */
}
